useDynLib(ulgee, .registration=TRUE)
importFrom(Rcpp, evalCpp)
import(lamW)
import(expint)
import(pbapply)
import(mvnfast)
import(pracma)
import(gamlss.dist)
import(Matrix)
import(RcppEigen)
exportPattern("^[[:alpha:]]+")
