useDynLib(ulgee, .registration=TRUE)
importFrom(Rcpp, evalCpp)
importFrom(expint, expint_En)
importFrom(pracma, Diag)
import(lamW)
import(pbapply)
import(mvnfast)
import(gamlss.dist)
import(Matrix)
import(RcppEigen)
exportPattern("^[[:alpha:]]+")
